@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Account/Register">Sign up</a> or <a href="/Account/Login">Sign in</a> to continue.</p>
</div>
